vendor/*
config/kernel/config_inc.php
config/css/
config/fonts/
config/iconsets/
config/images/
config/themes/

# Packages (each has its own git repo)
articles/
blogs/
bnspell/
boards/
calendar/
ckeditor/
contact/
feed/
fisheye/
gatekeeper/
geo/
install/
kernel/
languages/
liberty/
messages/
newsletters/
nexus/
pigeonholes/
protector/
quota/
rss/
search/
stats/
storage/
tags/
themes/
users/
wiki/

# Third-party / externals
externals/
util/
utils/
