[submodule "kernel"]
	path = kernel
	url = https://github.com:lsces/kernel.git
	branch = Bitweaver5
[submodule "languages"]
	path = languages
	url = https://github.com:lsces/languages.git
	branch = Bitweaver5
[submodule "liberty"]
	path = liberty
	url = https://github.com:lsces/liberty.git
	branch = Bitweaver5
[submodule "storage"]
	path = storage
	url = https://github.com:lsces/storage.git
[submodule "temp"]
	path = temp
	url = https://github.com:temp/temp.git
[submodule "themes"]
	path = themes
	url = https://github.com:lsces/themes.git
	branch = Bitweaver5
[submodule "users"]
	path = users
	url = https://github.com:lsces/users.git
	branch = Bitweaver5
[submodule "util"]
	path = util
	url = https://github.com:lsces/util.git
[submodule "blogs"]
	path = blogs
	url = https://github.com:lsces/blogs.git
	branch = Bitweaver5
[submodule "bnspell"]
	path = bnspell
	url = https://github.com:lsces/bnspell.git
[submodule "boards"]
	path = boards
	url = https://github.com:lsces/boards.git
[submodule "calendar"]
	path = calendar
	url = https://github.com:lsces/calendar.git
	branch = Bitweaver5
[submodule "feed"]
	path = feed
	url = https://github.com:lsces/feed.git
	branch = Bitweaver5
[submodule "fisheye"]
	path = fisheye
	url = https://github.com/lsces/fisheye.git
	branch = Bitweaver5
[submodule "gatekeeper"]
	path = gatekeeper
	url = https://github.com:lsces/gatekeeper.git
	branch = Bitweaver5
[submodule "messages"]
	path = messages
	url = https://github.com:lsces/messages.git
	branch = Bitweaver5
[submodule "newsletters"]
	path = newsletters
	url = https://github.com:lsces/newsletters.git
[submodule "nexus"]
	path = nexus
	url = https://github.com:lsces/nexus.git
	branch = Bitweaver5
[submodule "pigeonholes"]
	path = pigeonholes
	url = https://github.com:lsces/pigeonholes.git
	branch = Bitweaver5
[submodule "rss"]
	path = rss
	url = https://github.com:lsces/rss.git
	branch = Bitweaver5
[submodule "search"]
	path = search
	url = https://github.com:lsces/search.git
	branch = Bitweaver5
[submodule "stats"]
	path = stats
	url = https://github.com:lsces/stats.git
	branch = Bitweaver5
[submodule "wiki"]
	path = wiki
	url = https://github.com:lsces/wiki.git
	branch = Bitweaver5
[submodule "install"]
	path = install
	url = https://github.com:lsces/install.git
[submodule "gatekeeper"]
	path = gatekeeper
	url = https://github.com:lsces/gatekeeper.git
	branch = Bitweaver5
[submodule "quota"]
	path = quota
	url = https://github.com:lsces/quota.git
[submodule "tags"]
	path = tags
	url = https://github.com:lsces/tags.git
	branch = Bitweaver5
[submodule "config/iconsets/tango"]
	path = config/iconsets/tango
	url = https://github.com:lsces/iconset_tango.git
[submodule "config/themes/colourstrap"]
	path = config/themes/colourstrap
	url = https://github.com/lsces/theme_colourstrap.git
[submodule "config/themes/bootstrap"]
	path = config/themes/bootstrap
	url = https://github.com:lsces/theme_bootstrap.git
[submodule "contact"]
	path = contact
	url = https://github.com/lsces/contact.git
[submodule "protector"]
	path = protector
	url = https://github.com/lsces/protector.git
[submodule "externals/adodb"]
	path = externals/adodb
	url = https://github.com/lsces/adodb.git
	branch = v5.22.08
[submodule "externals/smarty"]
	path = externals/smarty
	url = https://github.com/lsces/smarty.git
	branch = v5.4.5
[submodule "externals/bootstrap"]
	path = externals/bootstrap
	url = https://github.com/lsces/bootstrap.git
[submodule "externals/silk"]
	path = externals/silk
	url = https://github.com:lsces/famfamfam-silk.git
[submodule "externals/famfamfam-silk"]
	path = externals/famfamfam-silk
	url = https://github.com/lsces/famfamfam-silk.git
